body{
  text-align: center;
  background-color: #783937FF;
  font-family: 'Raleway', sans-serif;
  text-shadow: black 3px 2px;
}
input{
  font-family: 'Raleway', sans-serif;
  text-shadow: black 3px 2px;

}

h2{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

hr {
  border-color: white;
}


p{
  text-align: center;
}

#h1{
 color:  #783937FF ;
 font-weight: 200;
 font-family: 'Raleway', sans-serif;
}

u{
  color:  #F1AC88FF ;
}

div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #CCC;
  background: #783937FF;
  padding: 10px;
  margin: auto;
  font-family: 'Raleway', sans-serif;

}

p#foot {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.head{
  margin-left: 50px;
}


.grow{
  transition: transform .3s;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.grow:hover{
  transform: scale(1.1);
  color: black;
}

ul{
  /* list-style-type: none; */
  list-style-position: inside;
  list-style-image: url("https://img.icons8.com/external-flaticons-lineal-color-flat-icons/36/external-bakery-bakery-flaticons-lineal-color-flat-icons-6.png")
  
}

li{
  /* list-style: none; */
  color: black;
  font-weight: 350;
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  list-style-position: inside;
  list-style-image: url("https://img.icons8.com/external-flaticons-lineal-color-flat-icons/36/external-bakery-bakery-flaticons-lineal-color-flat-icons-6.png")
}

.jumbotron {
text-align: center;
padding: 50px;
background: rgb(10, 7, 7);
color: white;
font-family: 'Raleway', sans-serif;
font-size: 2.625rem;
font-weight: 500;
}

a{
  color: black;
  font-weight: 350;
}

a:hover{
  color: black;
  font-weight: 350;
  text-decoration: none;
}

div.row{
  color: #F1AC88FF;
}