@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Sweet Treat's for:</h1>

<h3>@User.Identity.Name</h3>

<hr>
<hr>

@if (@Model.Count == 0)
{
  <h3>No Treats have been added yet!</h3>
} 
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li class="grow">@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }) </li>
    }
  </ul>
  <hr>
  <hr>
}

<p style="margin-left: 40px;" class="btn btn-dark">@Html.ActionLink("Add Treats", "Create", "Treats")</p>
