@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Treats for: <br> @User.Identity.Name</h1>
<hr>
<hr>

@if (@Model.Count == 0)
{
  <h3>No Treats have been added yet!</h3>
} 
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li class="btn btn-dark">@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId }) </li>
    }
  </ul>
  <hr>
  <hr>
}

<p class="btn btn-dark">@Html.ActionLink("Add Treats", "Create", "Treats")</p>
